<div class="row form-view">
    <div class="col-md-6">
        <input type="text" ng-model="guides.new.name" class="form-control" placeholder="Guide Name">
    </div>
    <div class="col-md-6">
        <form ng-submit="guides.save()">
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success btn-block">
                        <i class="fa fa-1x fa-plus-circle"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <textarea ng-model="guides.new.text" class="form-control" rows="10"></textarea>
    </div>
</div>

<div marked="guides.new.text">
</div>