<div class="row row-eq-height">
    <div class="col-md-6">
        <h1>Create {{ 'resources.guides.name' | translate | ucfirst }}</h1>
    </div>
    <div class="col-md-6">
        <add-resource resource="Guides" input-text="false"></add-resource>
    </div>
</div>

<div class="row form-view">
  <div class="col-md-6">
    <input type="text" class="form-control" placeholder="Guide Name">
  </div>
  <div class="col-md-6"></div>
</div>

<div class="row">
  <div class="col-md-12">
    <textarea ng-model="guides.guide" class="form-control" rows="10"></textarea>
  </div>
</div>

<div marked="guides.guide">
</div>

<div class="row" style="margin-top: 10px">
    <div class="col-md-10"></div>
    <div class="col-md-2">
        <add-resource resource="Guides" input-text="false"></add-resource>
    </div>
</div>