.navbar {
    border-radius: 0;
}

.projects, 
.repositories {
    margin-top: 10px;
}

.repositories{
  padding:20px;
}

.repositories a{
	color: black;
}

.repositories label{
	cursor: pointer;
}

.panel-footer img{
    height: 40px;
    width: 40px;
}

.vertical-align{
  display: flex;
  align-items: center;
  justify-content: center;
}

.repositories .icons > :nth-child(odd){
	padding-left: 5px;
	padding-right: 5px;
}