<div class="well">
    <div class="row vertical-align">        
        <div class="col-md-10">            
            <a ng-href="{{ link.url }}" target="_blank">
            	<strong ng-if="link.title != null">
            		{{ link.title }}
            	</strong>
                <strong ng-if="link.title == null">
                    {{ link.url }}
                </strong>
            </a>
        </div>
        <div class="icons vertical-align pull-right">
            <delete-resource params="{ projectId : projectId, linkId : link.id }" get='get()' resource='Links'></delete-resource>
        </div>
    </div>                
</div>