<div class="row">
    <div class="col-md-10">
        <h1>{{ 'resources.projects.name' | translate | plural | ucfirst }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-search search-only">
            <i class="search-icon glyphicon glyphicon-search"></i>
            <input ng-model="projects.search" class="form-control search-query">
        </div>
    </div>
    <div class="col-md-6">
        <add-resource get="projects.getAll()" resource="Projects" placeholder="{{ 'resources.projects.create' | translate }}"></add-resource>
    </div> 
</div>

<div class="row projects">
    <div class="col-md-12">
        <div ng-repeat="project in projects.projects | filter: projects.search" class="panel panel-primary">
            <div class="panel-heading">                
                <div class="row vertical-align">
                    <div class="col-md-2">
                        <h4>{{ project.name | ucfirst}}</h4>
                    </div>
                    <div class="col-md-6">
                        <!--<project-statistics-labels id="project.id"></project-statistics-labels>-->
                    </div>
                    <div class="col-md-2">
                        <view-resource route="viewProject" params="{ id : project.id }"></view-resource>
                    </div>
                    <div class="col-md-2">
                        <delete-resource params="{ projectId : project.id }" get='projects.getAll()' resource='Projects'></delete-resource>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>