<div class="row vertical-align">
	<div class="col-md-12">
		<h3>{{ 'resources.projects.name' | translate | ucfirst}} : {{ project.project.name | ucfirst }}</h3>
	</div>		
</div>

<div class="row">
	<div class="col-md-12">
		<guides></guides>
	</div>	
</div>
	
<div class="row">
	<div class="col-md-12">
		<links></links>
	</div>	
</div>

<div class="row">
	<div class="col-md-12">
		<servers></servers>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<repositories></repositories>
	</div>
</div>