<div class="panel panel-primary">
    <div class="panel-heading">                
        <div class="row">
            <div class="col-md-12">
                <h4> Github {{ 'resources.repositories.name' | translate | plural | ucfirst }}</h4>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-search search-only">
                    <i class="search-icon glyphicon glyphicon-search"></i>
                    <input ng-model="repositories.search" class="form-control search-query">
                </div>
            </div>
            <div class="col-md-6">
                <add-resource params="{ projectId : repositories.projectId }" get="repositories.getAll()" resource="Repositories" placeholder="{{ 'resources.repositories.create' |  translate }}"></add-resource>        
            </div> 
        </div>

        <div class="list-group repositories">
            <div class="row" ng-repeat="rows in repositories.repositories | filter: repositories.search">
                <div class="col-md-4" ng-repeat="repository in rows">
                    <repository project="repositories.projectId" get="repositories.getAll()" repo="repository"></repository>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12"></div>
        </div>
    </div>
</div>